<nav class="navbar navbar-md bg-dark">
  <div class="container">
    <div class="row w-100">
      <div class="col-3 col-md-6">
        <a href="#" class="navbar-brand">
          <img
            class="brand-logo d-inline-block"
            src="../../assets/brand.png"
            alt="brand-logo"
          />
          <p class="text-white ms-3 lead">The world is your hotel, use Otel.</p>
        </a>
      </div>
      <div class="col-6 col-md-4 mt-2">
        <app-search-bar></app-search-bar>
      </div>
      <div class="col-2 col-md-2 mt-2">
        <app-profile-control class="ms-5"></app-profile-control>
      </div>
    </div>
  </div>
</nav>
