.input-group .input-group-append .btn {
  border-radius: 0 0.25rem 0.25rem 0; /* Rounded corners on the right side of the button */
}

.input-group .form-control {
  border-right: 0; /* Remove right border from input to merge with button */
}

.input-group-append {
  margin-left: -1px; /* Overlap the button over the input field slightly */
}

.container {
  position: absolute;
  width: 200px;
}

@media (min-width: 1024px) {
  .container {
    width: auto;
  }
}
