<div class="btn-group">
  <button
    class="btn btn-secondary btn-profile btn-enlarged text-nowrap"
    id="navbarScrollingDropdown"
    data-bs-toggle="dropdown"
    aria-expanded="false"
  >
    <i class="d-none d-md-inline-block bi bi-list"></i>{{ "  "
    }}<i class="bi bi-person-circle"></i>
  </button>
  <ul
    class="dropdown-menu dropdown-menu-enlarged"
    aria-labelledby="navbarScrollingDropdown"
  >
    <li>
      <button
        class="dropdown-item btn-btn-transparent"
        (click)="token ? onLogout() : onLogin()"
      >
        {{ token ? "Logout" : "Login" }}
      </button>
    </li>
    <!-- after login -->
    @if ( token ) {
    <li>
      <a class="dropdown-item" [routerLink]="'/list'">View Reservations</a>
    </li>
    <li><hr class="dropdown-divider" /></li>
    <li>
      <a class="dropdown-item">{{ username }}</a>
    </li>
    }
  </ul>
</div>
